<template>
  <q-page
    class="flex flex-center bg-secondary text-center"
    text-color="primary"
  >
    <div>
      <div class="manti-light" style="font-size: 10vh; color: primary">
        <span class="manti-bold" style="color: primary">{{
          app.appCourante
        }}</span>
        en construction !<br />
        <q-icon class="q-mx-xl" name="ti-hummer" color="primary"></q-icon>
        <q-icon class="q-mx-xl" name="ti-brush-alt" color="primary"></q-icon>
      </div>

      <q-btn
        class="q-mt-xl manti-bold"
        color="warning"
        text-color="primary"
        unelevated
        to="/"
        label="Accueil"
        no-caps
        @click="changerApp('')"
      />
    </div>
  </q-page>
</template>

<script setup>
import { useApplicationsStore } from "../stores/applications";
import { mapActions } from "pinia";
const app = useApplicationsStore();
const { basculerMenu, changerApp } = mapActions(useApplicationsStore, [
  "basculerMenu",
  "changerApp",
]);
</script>
