<template>
  <q-page class="flex flex-center">
    <div>
      <div class="text-h2 manti-light" style="opacity: 0.4">Bienvenue dans</div>

      <div class="manti-black" style="font-size: 30vh">COOLISSE</div>

      <div class="text-h4 manti-light" style="opacity: 0.4">
        Visualiser les nombres décimaux pour bien les conceptualiser
      </div>
    </div>
  </q-page>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "IndexPage",
});
</script>
