<template>
  <q-page class="bg-primary" :style-fn="myTweak">
    <div class="q-pa-xl">
      <div class="column items-center">
        <div class="row no-wrap items-center q-gutter-md" style="width: 80%">
          <div class="col-5 text-right" style="font-size: 7rem">
            {{ nombreAvecEspaces(nombreEnCours) }}
          </div>
          <div class="col-1 text-center">
            <q-btn
              flat
              unelevated
              dense
              :icon="multiplicationEnCours ? 'las la-times' : 'las la-divide'"
              size="3rem"
              @click="changerOperation()"
            ></q-btn>
          </div>
          <div class="col-4 text-left" style="font-size: 7rem">
            {{ puissances10[rangFacteur] }}
          </div>
          <div class="col-1 text-left">
            <q-btn
              flat
              unelevated
              dense
              icon="las la-equals"
              size="3rem"
              @click="calculer"
            />
          </div>
          <div class="col-1 text-center">
            <div class="column items-end">
              <div class="col">
                <q-btn
                  flat
                  dense
                  icon="las la-angle-up"
                  size="1rem"
                  @click="changerFacteur('augmenter')"
                />
              </div>
              <div class="col">
                <q-btn
                  flat
                  dense
                  icon="las la-angle-down"
                  size="1rem"
                  @click="changerFacteur('diminuer')"
                />
              </div>
            </div>
          </div>
          <div class="column items-start">
            <div class="col">
              <q-btn
                flat
                dense
                icon="las la-trash-alt"
                size="1rem"
                @click="operationsStore.razNombre"
              />
            </div>
            <div class="col">
              <q-btn
                flat
                dense
                icon="las la-redo-alt"
                size="1rem"
                @click="reset"
              />
            </div>
          </div>
        </div>
        <div class="row items-center" style="width: 100%">
          <div class="column justify-center" style="width: 100%">
            <div id="canvasPlace" class="col-8">
              <div id="p5Canvas"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
import { ref, watch, onMounted, onUnmounted } from "vue";
// Gestion des stores
import { useOperationsStore } from "../stores/operations";
const operationsStore = useOperationsStore();
import { useApplicationsStore } from "src/stores/applications";
const applicationsStore = useApplicationsStore();
// Gestion du canvas pour `p5`
import p5 from "p5";
import { sketch } from "../js/ZoneNombreARessorts.js";
import { NombreARessorts } from "../js/NombreARessorts.js";
const puissances10 = [
  "100 000",
  "10 000",
  "1 000",
  "100",
  "10",
  "1",
  "0,1",
  "0,01",
  "0,001",
  "0,000 1",
  "0,000 01",
];

let rangFacteur = ref(5);
let multiplicationEnCours = ref(true);
let unResultatAEteDemande = ref(false);
let nombreEnCours = ref(operationsStore.nbCourant);
let d;

onMounted(() => {
  d = new p5(sketch, "p5Canvas");
  setTimeout(() => {
    d.tailleFonte = applicationsStore.taillePolice;
    if (operationsStore.nbCourant !== "") {
      d.nbR = new NombreARessorts(d, operationsStore.nbCourant, 100);
    }
  }, 500);
});

watch(
  () => operationsStore.$state.operationEstMultiplication,
  (nouvelEtat, ancienEtat) => {
    multiplicationEnCours.value = nouvelEtat;
  }
);

watch(
  () => operationsStore.$state.demandeResultat,
  (nouvelEtat, ancienEtat) => {
    if (operationsStore.resultatDemande) {
      // demandedResultat vaut 'true' : on calcule
      unResultatAEteDemande.value = true;
      let nbOperations = 5 - rangFacteur.value;
      if (nbOperations > 0) {
        for (let i = 0; i < nbOperations; i++) {
          if (multiplicationEnCours.value) {
            d.nbR.augmenter();
          } else {
            d.nbR.diminuer();
          }
        }
      } else if (nbOperations < 0) {
        nbOperations = -nbOperations;
        for (let i = 0; i < nbOperations; i++) {
          if (multiplicationEnCours.value) {
            d.nbR.diminuer();
          } else {
            d.nbR.augmenter();
          }
        }
      }
    }
  }
);

watch(
  () => operationsStore.$state.nombreCourant,
  (nouveauNombre, ancienNombre) => {
    nombreEnCours.value = nouveauNombre;
    if (nouveauNombre === "") {
      d.nbR = undefined;
    } else {
      d.nbR = new NombreARessorts(d, nouveauNombre, 100);
    }
  }
);

onUnmounted(() => {
  d.remove();
});

function calculer() {
  if (!unResultatAEteDemande.value) {
    operationsStore.basculerDemandeResultat();
  }
}

function reset() {
  operationsStore.basculerDemandeResultat();
  unResultatAEteDemande.value = false;
  if (operationsStore.nbCourant !== "") {
    d.nbR = new NombreARessorts(d, operationsStore.nbCourant, 100);
  } else {
    d.nbR = undefined;
  }
}

/**
 * Passer de la multiplication à la division et vice-versa
 */
function changerOperation() {
  operationsStore.basculerOperationCourante();
}

/**
 * Choisir dans la liste des puissances de 10 la puissance suivante ou précédente
 */
function changerFacteur(valeur) {
  switch (valeur) {
    case "augmenter":
      if (rangFacteur.value > 0) {
        rangFacteur.value -= 1;
      }
      break;
    case "diminuer":
      if (rangFacteur.value < puissances10.length - 1) {
        rangFacteur.value += 1;
      }
      break;
  }
}

/**
 * Ajoute des espaces tous les trois chiffres pour l'affichage du nombre
 */
function nombreAvecEspaces(nombre) {
  let parts = nombre.toString().split(",");
  parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, " ");
  if (parts.length > 1 && parts[1] !== "") {
    parts[1] = parts[1].match(/.{1,3}/g).join(" ");
  }
  return parts.join(",");
}

function myTweak(offset) {
  // "offset" is a Number (pixels) that refers to the total
  // height of header + footer that occupies on screen,
  // based on the QLayout "view" prop configuration

  // this is actually what the default style-fn does in Quasar
  return { minHeight: offset ? `calc(100vh - ${offset}px)` : "100vh" };
}
</script>
