<template>
  <q-page class="bg-primary" :style-fn="myTweak">
    <div class="column justify-center" style="min-height: inherit">
      <!-- <div class="row justify-center"> -->
      <div id="canvasPlace" class="col-8">
        <div id="p5Canvas"></div>
      </div>
      <!-- </div> -->
      <div class="row justify-center text-white">
        <div class="column" style="width: 150px">
          <div class="col self-center">
            <q-btn
              @click="nombreStore.majDeplacement(-1)"
              flat
              dense
              round
              tabindex="-1"
              icon="ti-arrow-left"
              aria-label="Gauche"
            />
          </div>
        </div>
        <div class="column" style="width: 150px">
          <div class="col self-center">
            <q-btn
              flat
              dense
              round
              icon="ti-reload"
              aria-label="Retour"
              @click="ramenerPositionInitiale"
            />
          </div>
        </div>
        <div class="column" style="width: 150px">
          <div class="col self-center">
            <q-btn
              @click="nombreStore.majDeplacement(1)"
              dense
              round
              flat
              tabindex="-1"
              icon="ti-arrow-right"
              aria-label="Droite"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script setup>
// Gestion du store `nombre`
import { useNombreStore } from "../stores/nombre";
const nombreStore = useNombreStore();
// Gestion du canvas pour `p5`
import p5 from "p5";
import { sketch } from "../js/ZoneNombreARessorts.js";
import { onMounted, onUnmounted, watch } from "vue";
import { useApplicationsStore } from "src/stores/applications";
import { NombreARessorts } from "../js/NombreARessorts.js";
const applicationsStore = useApplicationsStore();
let d;
onMounted(() => {
  d = new p5(sketch, "p5Canvas");
  setTimeout(() => {
    d.tailleFonte = applicationsStore.taillePolice;
  }, 500);
});
watch(
  () => nombreStore.$state.nombreCourant,
  (nouveauNombre, ancienNombre) => {
    d.nbR = new NombreARessorts(d, nouveauNombre, 100);
  }
);
watch(
  () => applicationsStore.$state.tailleLettres,
  (nouvelleTaille, ancienneTaille) => {
    applicationsStore.changerTaillePolice(nouvelleTaille);
    d.tailleFonte = applicationsStore.taillePolice;
  }
);
watch(
  () => nombreStore.$state.deplacement,
  (nouveauDeplacement, ancienDeplacement) => {
    if (nouveauDeplacement > ancienDeplacement) {
      d.nbR.diminuer();
    } else if (nouveauDeplacement < ancienDeplacement) {
      d.nbR.augmenter();
    }
  }
);
onUnmounted(() => {
  d.remove();
});

//helpers
function ramenerPositionInitiale() {
  d.nbR.reset();
}
function myTweak(offset) {
  // "offset" is a Number (pixels) that refers to the total
  // height of header + footer that occupies on screen,
  // based on the QLayout "view" prop configuration

  // this is actually what the default style-fn does in Quasar
  return { minHeight: offset ? `calc(100vh - ${offset}px)` : "100vh" };
}
</script>
