<template>
  <q-dialog>
    <q-card>
      <q-toolbar class="bg-secondary text-primary">
        <q-toolbar-title>
          <strong>Aide</strong>
          <span v-if="applicationsStore.appCourante !== ''">
            - {{ applicationsStore.appCourante }}</span
          >
        </q-toolbar-title>
        <q-btn v-close-popup flat round icon="ti-close" color="primary"></q-btn>
      </q-toolbar>
      <q-card-section v-if="applicationsStore.appCourante === ''">
        Cliquer sur le
        <q-btn
          v-close-popup
          flat
          class="q-pa-xs"
          label="menu"
          @click="applicationsStore.basculerMenu()"
        ></q-btn>
        et choisir une application
      </q-card-section>
      <q-card-section v-if="applicationsStore.appCourante === 'Nombres'">
        <q-list>
          <q-item>
            <q-item-section avatar>
              <q-icon name="las la-keyboard"></q-icon>
            </q-item-section>
            <q-item-section> Saisir un nombre au clavier </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="ti-arrow-right"></q-icon>
            </q-item-section>
            <q-item-section>
              Déplacer le nombre vers la droite (au clavier : flèche droite)
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="ti-arrow-left"></q-icon>
            </q-item-section>
            <q-item-section>
              Déplacer le nombre vers la gauche (au clavier : flèche gauche)
            </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="ti-reload"></q-icon>
            </q-item-section>
            <q-item-section> Revenir au nombre initial </q-item-section>
          </q-item>
          <q-item>
            <q-item-section avatar>
              <q-icon name="ti-settings"></q-icon>
            </q-item-section>
            <q-item-section>
              Réglages de la saisie et de l'affichage
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-card-section
        v-if="applicationsStore.appCourante === 'Multiplications'"
      >
        En construction
      </q-card-section>

      <q-card-section v-if="applicationsStore.appCourante === 'Unités'">
        En construction
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup>
import { useApplicationsStore } from "../stores/applications";
const applicationsStore = useApplicationsStore();
</script>
