<template>
  <q-item
    clickable
    tag="a"
    target="_parent"
    :to="link"
    exact
    active-class="bg-secondary text-accent"
    @click="
      applicationsStore.changerApp(title);
      applicationsStore.basculerMenu();
      nombreStore.augmenterNombreUtilisations();
    "
  >
    <q-item-section v-if="icon" avatar>
      <q-icon :name="icon" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ title }}</q-item-label>
      <q-item-label caption>{{ caption }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script setup>
import { useApplicationsStore } from "../stores/applications";
import { useNombreStore } from "../stores/nombre";
const applicationsStore = useApplicationsStore();
const nombreStore = useNombreStore();

const props = defineProps({
  title: {
    type: String,
    required: true,
  },

  caption: {
    type: String,
    default: "",
  },

  link: {
    type: String,
    default: "#",
  },

  icon: {
    type: String,
    default: "",
  },
});
</script>
