<template>
  <q-menu v-if="applicationsStore.appCourante === 'Nombres'">
    <div class="row no-wrap q-gutter-md">
      <div class="column">
        <div class="text-h6 q-pa-md">Réglages</div>
        <q-list padding>
          <q-separator></q-separator>
          <q-item-label header>Saisie</q-item-label>
          <q-item>
            <q-item-section avatar>
              <q-icon
                v-if="zeros === 'Avec'"
                name="las la-eye"
                size="lg"
              ></q-icon>
              <q-icon v-else name="las la-eye-slash" size="lg"></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>Zéros inutiles : {{ zeros }}</q-item-label>
              <q-item-label caption>
                Après la saisie, voir ou pas les zéros inutiles
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-toggle
                color="warning"
                keep-color
                false-value="Sans"
                true-value="Avec"
                v-model="zeros"
              />
            </q-item-section>
          </q-item>
          <q-separator></q-separator>
          <q-item-label header>Affichage</q-item-label>
          <q-item>
            <q-item-section avatar>
              <q-icon name="las la-text-height" size="lg"></q-icon>
            </q-item-section>
            <q-item-section>
              <q-item-label>Taille de la police</q-item-label>
              <q-item-label caption>
                Régler la taille des nombres à l'aide du bouton ci-contre
              </q-item-label>
            </q-item-section>
            <q-item-section side>
              <q-knob
                v-model="taille"
                :step="5"
                :max="220"
                :min="60"
                color="warning"
                center-color="primary"
                track-color="secondary"
                show-value
              >
                <span class="manti-fixed">{{ taille }}</span>
              </q-knob>
            </q-item-section>
          </q-item>
        </q-list>
      </div>
    </div>
  </q-menu>
</template>

<script setup>
const taille = computed({
  get() {
    return applicationsStore.taillePolice;
  },
  set(valeur) {
    applicationsStore.changerTaillePolice(valeur);
  },
});
import { useApplicationsStore } from "../stores/applications";
const applicationsStore = useApplicationsStore();
import { useNombreStore } from "../stores/nombre";
const nombreStore = useNombreStore();
import { computed } from "vue";
const zeros = computed({
  get() {
    return nombreStore.zerosInutiles;
  },
  set(valeur) {
    nombreStore.changerZerosInutiles(valeur);
  },
});
</script>
