<template>
  <q-dialog position="bottom">
    <q-card>
      <q-toolbar class="bg-secondary text-primary" dense>
        <q-toolbar-title>Nouveau nombre</q-toolbar-title>
      </q-toolbar>
      <q-card-section class="text-h5"
        >{{ nb.replace(".", ",") }}
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script>
export default {
  name: "NouveauNombreDialog",
  props: {
    nb: {
      type: String,
      default: "",
    },
  },
};
</script>
<style>
.q-dialog__backdrop {
  backdrop-filter: blur(7px);
}
</style>
