// app global css in SCSS form
@font-face {
  font-family: "manti_sans_black";
  src: url("/fonts/manti_sans_black_demo-webfont.woff2") format("woff2"),
    url("/fonts/manti_sans_black_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manti_sans_bold";
  src: url("/fonts/manti_sans_bold_demo-webfont.woff2") format("woff2"),
    url("/fonts/manti_sans_bold_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manti_sans_fixed";
  src: url("/fonts/manti_sans_fixed_demo-webfont.woff2") format("woff2"),
    url("/fonts/manti_sans_fixed_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manti_sans_light";
  src: url("/fonts/manti_sans_light_demo-webfont.woff2") format("woff2"),
    url("/fonts/manti_sans_light_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "manti_sans_regular";
  src: url("/fonts/manti_sans_regular_demo-webfont.woff2") format("woff2"),
    url("/fonts/manti_sans_regular_demo-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "manti_sans_regular";
  color: #112d4e;
}

.manti-black {
  font-family: "manti_sans_black";
}

.manti-reg {
  font-family: "manti_sans_regular";
}

.manti-light {
  font-family: "manti_sans_light";
}

.manti-fixed {
  font-family: "manti_sans_fixed";
}

.manti-bold {
  font-family: "manti_sans_bold";
}

.q-btn__content i {
  color: #d9a21b !important;
}
