<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar style="height: 5vh">
        <q-btn
          v-if="applicationsStore.menuAppEstOuvert"
          flat
          dense
          round
          icon="ti-shift-left-alt"
          aria-label="Menu"
          @click="applicationsStore.basculerMenu()"
        />
        <q-btn
          v-else
          flat
          dense
          round
          icon="ti-shift-right-alt"
          aria-label="Menu"
          @click="applicationsStore.basculerMenu()"
        />

        <q-toolbar-title>
          <q-btn
            class="manti-bold text-h5"
            text-color="dark"
            label="COOLISSE"
            flat
            to="/"
            @click="applicationsStore.changerApp('')"
          />
          <span
            v-if="applicationsStore.appCourante !== ''"
            class="manti-light text-h5"
            style="color: #112d4e"
          >
            <span class="q-mx-md text-body2" style="color: #112d4e"
              >&#8226;</span
            >
            {{ applicationsStore.appCourante }}
          </span>
        </q-toolbar-title>

        <q-space />
        <q-btn
          flat
          dense
          round
          icon="ti-help"
          aria-label="Info"
          @click="basculerAide"
        />
        <q-btn flat dense round icon="ti-settings" aria-label="Réglages">
          <ReglagesMenu />
        </q-btn>
      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="applicationsStore.menuAppEstOuvert"
      behavior="desktop"
      :show-if-above="false"
      bordered
    >
      <q-list>
        <q-item-label header> Applications </q-item-label>

        <AppsLinksDrawer
          v-for="link in listeApplications"
          :key="link.title"
          v-bind="link"
        />
      </q-list>
    </q-drawer>

    <AideDialog v-model="aideOuverte" />
    <PremiereFoisNombresDialog v-model="afficheInstructionsPourNombres" />
    <SaisieNombreDialog v-model="nombreSaisiEstNonVide" :nb="nombreSaisi" />
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
import AppsLinksDrawer from "components/AppsLinksDrawer.vue";
import AideDialog from "components/AideDialog.vue";
import ReglagesMenu from "components/ReglagesMenu.vue";
import PremiereFoisNombresDialog from "components/PremiereFoisNombresDialog.vue";
import SaisieNombreDialog from "components/SaisieNombreDialog.vue";
import { ref, computed } from "vue";
const aideOuverte = ref(false);
const nombreSaisi = ref("");
const virguleAbsente = ref(true);
function basculerAide() {
  aideOuverte.value = !aideOuverte.value;
}
// Gestion des stores
import { useOperationsStore } from "../stores/operations";
const operationsStore = useOperationsStore();
import { useApplicationsStore } from "../stores/applications";
const applicationsStore = useApplicationsStore();
import { useNombreStore } from "../stores/nombre";
const nombreStore = useNombreStore();
const afficheInstructionsPourNombres = computed({
  get() {
    const affichagePermis =
      nombreStore.nbUtilisations === 1 &&
      applicationsStore.appCourante === "Nombres";
    return affichagePermis;
  },
  set(val) {},
});
const nombreSaisiEstNonVide = computed(() => {
  return nombreSaisi.value !== "";
});
// Gestion du clavier
import { useKeypress } from "vue3-keypress";
const gererTouchePressee = ({ event }) => {
  if (nombreStore.nbUtilisations === 1) {
    nombreStore.augmenterNombreUtilisations();
  }
  let CHIFFRES = [];
  for (let chiffre = 0; chiffre <= 9; chiffre++) {
    CHIFFRES.push(chiffre);
  }
  // Gestion pour l'application "Nombres"
  if (applicationsStore.appCourante === "Nombres") {
    if (event.key in CHIFFRES) {
      nombreSaisi.value += event.key;
    } else if (
      virguleAbsente.value &&
      (event.key === "," || event.key === ".")
    ) {
      nombreSaisi.value += ".";
      virguleAbsente.value = false;
    } else if (event.key === "Backspace") {
      if (nombreSaisi.value.charAt(nombreSaisi.value.length - 1) === ".") {
        virguleAbsente.value = true;
      }
      nombreSaisi.value = nombreSaisi.value.slice(0, -1);
    } else if (event.key === "Enter") {
      if (nombreSaisi.value !== "") {
        if (nombreStore.zeros === "Sans") {
          nombreStore.changerNombreCourant(+nombreSaisi.value);
        } else {
          nombreStore.changerNombreCourant(nombreSaisi.value);
        }
        nombreSaisi.value = "";
        virguleAbsente.value = true;
      }
    } else if (event.key === "ArrowRight") {
      nombreStore.majDeplacement(1);
    } else if (event.key === "ArrowLeft") {
      nombreStore.majDeplacement(-1);
    }
    // Gestion pour l'application "Multiplications"
  } else if (applicationsStore.appCourante === "Multiplications") {
    if (event.key in CHIFFRES) {
      operationsStore.ajouterChiffre(event.key);
    } else if (event.key === "Backspace") {
      operationsStore.enleverDernierChiffre();
      if (
        operationsStore.nbCourant.charAt(
          operationsStore.nbCourant.length - 1
        ) === ","
      ) {
        operationsStore.enleverDernierChiffre();
      }
    } else if (event.key === "," || event.key === ".") {
      if (operationsStore.nbCourant.indexOf(",") === -1) {
        operationsStore.ajouterChiffre(",");
      }
    }
  }
};
useKeypress({
  keyEvent: "keydown",
  keyBinds: [],
  onAnyKey: gererTouchePressee,
});
// Pour le menu des applications
const listeApplications = [
  {
    title: "Nombres",
    caption: "Glisse-nombre",
    icon: "ti-direction-alt",
    link: "nombres",
  },
  {
    title: "Multiplications",
    caption: "Multiplication par multiples et sous-multiples de 10",
    icon: "las la-times",
    link: "multiplications",
  },
  {
    title: "Unités",
    caption: "Changements d'unités",
    icon: "ti-ruler-alt",
    link: "unites",
  },
];
</script>
